{% extends 'base.html' %}

{% block title %}Tips{% endblock %}
{% block tips %}active{% endblock %}

{% block content %}
<h1>Reading tips</h1>
<a href="{% url 'tips_create' %}" class="btn btn-secondary">Add a reading tip</a>

<ul>
	{% for tip in object_list %}
	<br><li>
		<b>Title:</b> {{ tip.title }}<br>
		{% if tip.url %}<b>URL:</b> <a href="{{ tip.url }}">{{ tip.url }}</a> <br>{% endif %}
		{% if tip.isbn %}<b>ISBN:</b> {{ tip.isbn }} <br>{% endif %}
		<b>Description:</b> {{ tip.description }}
	</li>
	{% endfor %}
</ul>

{% endblock %}
