{% extends 'base.html' %}

{% block title %}{% if title %}{{ title }}{% else %}Tips{% endif %}{% endblock %}
{% block tips %}active{% endblock %}

{% block content %}
<div class="my-4">
  {% if search %}
  <h1>Reading tips relating to: <span class="text-muted">{{ search }}</span></h1>
  {% else %}
  <h1>Reading tips</h1>
  {% endif %}

  {% if object_list %}
  <p class="text-muted">Showing {{ object_list.count }} results</p>
  {% endif %}
</div>


<div class="mb-2">
  <div class="form-group">
    <form id="filterForm" method="GET" action="{% url 'tips' %}">
      <label for="filter" class="h6 text-muted">Filter by:</label>
      <select id="filter" class="form-control">
        {% for name, option in view.filter_options %}
        <option value="{{ name }}">{{ option }}</option>
        {% endfor %}
      </select>

      {% if request.GET.search %}
      <input id="search" type="hidden" name="search" value="{{ request.GET.search }}">
      {% endif %}

      <input id="filter_key" type="hidden" name="filter" value="{{ request.GET.filter }}">
    </form>
  </div>
  <div class="mb-4">
    {% if request.GET.search or request.GET.filter %}
    <a href="{{request.get_full_path}}&export" target="_blank" class="btn btn-secondary">Export as CSV</a>
    {% else %}
    <a href="{{request.get_full_path}}?export" target="_blank" class="btn btn-secondary">Export as CSV</a>
    {% endif %}
    <a href="{% url 'tips_create' %}" class="btn btn-secondary">Add a reading tip</a>
  </div>
</div>

{% if not object_list %}
<div class="alert alert-secondary" role="alert">
  No reading tips found.
</div>
{% endif %}

{% for tip in object_list %}
{% if tip.has_been_read %}
<div class="card border-success mb-4">
  <div class="card-header border-success">{{ tip.readable_type }} <span class="text-muted">(Read)</span></div>
{% else %}
<div class="card mb-4">
  <div class="card-header">{{ tip.readable_type }}</div>
{% endif %}

  <div class="card-body">
    <p class="h5 card-title">{{ tip.title }}</p>
    <p class="card-text">{{ tip.description }}</p>

    {% if tip.content_type == 0 %}
    <p class="card-text"><b>ISBN:</b> {{ tip.content.isbn }}</p>

    {% elif tip.content_type == 1 %}
    <p class="card-text"><b>URL:</b> <a href="{{ tip.content.url }}" target="_blank">{{ tip.content.url }}</a></p>
    {% endif %}

    <div class="row">
      <div class="col col-12 col-md-6 col-lg-6">
        <a class="btn btn-block btn-primary" href="{% url 'tip' tip_id=tip.id %}">View</a>
      </div>
      <div class="col col-12 col-md-6 col-lg-6">
        <form class="form" method="PATCH" action="{% url 'tip' tip_id=tip.id %}">
          {% csrf_token %}
          <input type="hidden" name="next" value="{% url 'tips' %}">
          {% if tip.has_been_read %}
          <input type="hidden" name="has_been_read" value="">
          <button class="btn btn-block btn-warning" type="submit">Mark as unread</button>
          {% else %}
          <input type="hidden" name="has_been_read" value="1">
          <button class="btn btn-block btn-secondary" type="submit">Mark as read</button>
          {% endif %}

          {% if request.GET.search %}
          <input type="hidden" name="search" value="{{ request.GET.search }}">
          {% endif %}

          {% if request.GET.filter %}
          <input type="hidden" name="filter" value="{{ request.GET.filter }}">
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
